<div class="center">
  <div class="container">
    <h1>Contact</h1>
    <p>Feel free to contact me at <%= mail_to "sebasw9@vt.edu" do %>
      <span>sebasw9@vt.edu</span>
    <% end %> </p>
    
    <a href="http://www.sebastianwalker.info/">www.SebastianWalker.info</a>
  </div>
</div>